<div class="container">
  <div class="row">
    <div class="col-sm-12 d-block justify-content-center mb-5">
      <h2>
        <%= @portfolio.name %>
              ♥<%= @portfolio.favorites.count %>
      </h2>
      <div class="col-12 d-flex">
        <div class="col-md-5 col-sm-12">
        <%= attachment_image_tag(@portfolio, :image, format: "jpeg", fallback: "no_image_photo.jpg", class: "rounded mb-3 col-12") %>

        <% if @portfolio.user == current_user %>
        <div class="col d-flex justify-content-center">
          <%= link_to "編集", edit_portfolio_path(@portfolio), class: "btn btn-success col-3 " %>
          <%= link_to "削除", portfolio_path(@portfolio), method: :delete, class: "btn btn-danger col-3 ml-3", data: { confirm: '本当に消しますか?' } %>
        </div>
        <% end %>
        </div>
        <div class="col-md-7 col-sm-12 d-block justify-content-center">
          <table class="table col-12">
            <tr>
              <th class="table-active">氏名</th>
              <td class="align-middle"><%= link_to @portfolio.user.name, company_user_path(@portfolio.user_id) %></td>
            </tr>
            <tr>
              <th class="table-active">サイト URL</th>
              <td class="align-middle"><%= link_to @portfolio.site_url, "#{@portfolio.site_url}" %></td>
            </tr>
            <tr>
              <th class="table-active">github URL</th>
              <td class="align-middle"><%= link_to @portfolio.github_url, "#{@portfolio.github_url}" %></td>
            </tr>
            <tr>
              <th class="table-active">ジャンル</th></th>
              <td class="align-middle"><%= @portfolio.genre.name %></td>
            </tr>
            <tr>
              <th class="table-active">使用言語</th>
              <td class="align-middle"><%= @portfolio.use_language %></td>
            </tr>
            <tr>
              <th class="table-active">説明</th>
              <td class="align-middle"><%= @portfolio.information %></td>
            </tr>
          </table>
          <div class="comments col-12 mb-3">
            <p>コメント件数：<%= @portfolio.comments.count %></p>
            <% @portfolio.comments.each do |portfolio_comment| %>
              <div class="col-12 bg-light my-1 d-flex rounded">
                <div class="col-10">
                  <div class="col">
                  <%= attachment_image_tag(portfolio_comment.user, :image, size: "40x30", fallback: "no_image_person.jpg", class: "rounded") %>
                  <%= portfolio_comment.user.name %>
                  　日時：<%= portfolio_comment.created_at.strftime('%Y/%m/%d') %>
                  　コメントの感情分析スコア<%= portfolio_comment.score %>
                  </div>
                  <div class="col bg-white mb-1">
                  <%= portfolio_comment.comment %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>