<div class="container">
  <div class="row">
    <div class="col-sm-12 d-block justify-content-center mt-3 mb-5">
      <h2>ポートフォリオ検索結果</h2>
      <div class="col-12">
        <% if @portfolios == [] %>
        <h3 class = "seach-result mt-5">検索結果はありません</h3>
        <% else %>
        <table class="table mt-3">
          <thead>
            <th>PF名</th>
            <th>使用言語</th>
            <th>ジャンル</th>
            <th>サイトURL</th>
          </thead>
          <tbody>
            <% @portfolios.each do |portfolio| %>
            <tr>
              <td><%= link_to portfolio.name, portfolio_path(portfolio.id) %></td>
              <td><%= portfolio.use_language %></td>
              <td><%= portfolio.genre_i18n %></td>
              <td><%= link_to portfolio.site_url, "#{portfolio.site_url}" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
    <div class="col-md-12 d-flex justify-content-end" >
      <%= link_to '', new_portfolio_path, class: "fas fa-plus-circle fa-3x add-item" %>
    </div>
  </div>
</div>
