<div class="container mb-5">
  <div class="row">
    <div class="col-sm-12 d-block justify-content-center mt-3 mb-5">
      <h2>ポートフォリオ検索結果</h2>
      <div class="col-12">
        <% if @portfolios == [] %>
        <h3 class = "seach-result mt-5">検索結果はありません</h3>
        <% else %>
        <table class="table mt-3">
          <thead>
            <th class="text-center">PF名</th>
            <th class="text-center">使用言語</th>
            <th class="text-center">ジャンル</th>
            <th class="text-center">サイトURL</th>
            <th class="text-center">いいね</th>
            <th class="text-center">コメント</th>
          </thead>
          <tbody>
            <% @portfolios.each do |portfolio| %>
            <tr>
              <td class="text-center"><%= link_to portfolio.name, portfolio_path(portfolio.id) %></td>
              <td class="text-center"><%= portfolio.use_language %></td>
              <td class="text-center"><%= portfolio.genre.name %></td>
              <td class="text-center"><%= link_to portfolio.site_url, "#{portfolio.site_url}" %></td>
              <td class="text-center"><%= portfolio.favorites.count %></td>
              <td class="text-center"><%= portfolio.comments.count %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
    <div class="mx-auto"><%= paginate(@portfolios) %></div>
    <div class="col-md-12" >
      <%= link_to '', new_portfolio_path, class: "fas fa-plus-circle fa-3x add-item fixed-bottom mb-4 mr-3 text-right" %>
    </div>
  </div>
</div>
