<div class="container mb-5">
  <div class="row">
    <div class="col-sm-12 d-block justify-content-center mb-5 mt-3">
      <h2>
        <%= @portfolio.name %>
        <div id="favorite_button_<%= @portfolio.id %>">
        <%= render 'public/favorites/favorite', portfolio: @portfolio %>
        </div>
      </h2>
      <div class="col-12 d-flex">
        <div class="col-5">
        <%= attachment_image_tag(@portfolio, :image, format: "jpeg", fallback: "no_image_photo.jpg", class: "rounded mb-3 col-12") %>

        <% if @portfolio.user == current_user %>
        <div class="col d-flex justify-content-center">
          <%= link_to "編集", edit_portfolio_path(@portfolio), class: "btn btn-success col-3 " %>
          <%= link_to "削除", portfolio_path(@portfolio), method: :delete, class: "btn btn-danger col-3 ml-3", data: { confirm: '本当に消しますか?' } %>
        </div>
        <% end %>
        </div>
        <div class="col-7 d-block justify-content-center">
          <table class="table col-12">
            <tr>
              <th class="table-active">作成者</th>
              <td class="align-middle"><%= @portfolio.user.name %></td>
            </tr>
            <tr>
              <th class="table-active">サイト URL</th>
              <td class="align-middle"><%= link_to @portfolio.site_url, "#{@portfolio.site_url}", target: :_blank %></td>
            </tr>
            <tr>
              <th class="table-active">github URL</th>
              <td class="align-middle"><%= link_to @portfolio.github_url, "#{@portfolio.github_url}", target: :_blank %></td>
            </tr>
            <tr>
              <th class="table-active">ジャンル</th></th>
              <td class="align-middle"><%= @portfolio.genre.name %></td>
            </tr>
            <tr>
              <th class="table-active">使用言語</th>
              <td class="align-middle"><%= @portfolio.use_language %></td>
            </tr>
            <tr>
              <th class="table-active">説明</th>
              <td class="align-middle"><%= @portfolio.information %></td>
            </tr>
          </table>
          <div class="comments col-12 mb-3">
            <p>コメント件数：<%= @portfolio.comments.count %></p>
            <div id="comments_area">
            <%= render 'public/comments/index', comments: @comments %>
            </div>
            <div class="new-comment">
            <%= render 'public/comments/form', portfolio: @portfolio, comment: @comment %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>