<div class="container">
  <div class="row my-3">
    <h2>企業詳細</h2>
    <div class="col-sm-12 d-flex">
      <div class="col-sm-10 mb-5">
        <div class="col-12">
          <table class="table">
            <tr>
              <th class="table-active">企業名</th>
              <td class="align-middle"><%= @company.name %></td>
            </tr>
            <tr>
              <th class="table-active">企業名(カナ)</th>
              <td class="align-middle"><%= @company.kana_name %></td>
            </tr>
            <tr>
              <th class="table-active">電話番号</th>
              <td class="align-middle"><%= @company.phone_number %></td>
            </tr>
            <tr>
              <th class="table-active">サイトURL</th>
              <td class="align-middle"><%= link_to @company.website, "#{@company.website}" %></td>
            </tr>
          </table>
        </div>
      </div>
      <% if @company.already_followed?(current_user)  %>
      <% if @room_exist.present? %>
        <p class="user-show-room"><a href="/rooms/<%= @room.id %>" class="btn btn-primary btn-lg">チャットへ</a>
      <% else %>
        <%= form_with model:@room, local:true do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :company_id, value: @company.id %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, value: current_user.id %>
            <%= e.hidden_field :company_id, value: @company.id %>
          <% end %>
          <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
        <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>