<!DOCTYPE html>
<html>
  <head>
    <title>RE: EN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light">
        <%= link_to image_tag('logo.png', :size =>'100x50', class: "navbar-brand img-fluid"), root_path %>
        <button class="navbar-toggler justify-content-end pt-2 border border-secondary border-5 bg-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon navbar-light"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="d-flex justify-content-end nav-item mr-5 font-weight-bold">
                <%= link_to "マイページ", user_path(current_user), class: 'nav-link' %>
              </li>
              <li class="d-flex justify-content-end nav-item mr-5 font-weight-bold">
                <%= link_to "PF", portfolios_path, class: 'nav-link' %>
              </li>
              <li class="d-flex justify-content-end nav-item mr-5 font-weight-bold">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% elsif company_signed_in? %>
              <li class="d-flex justify-content-end nav-item mr-5 font-weight-bold">
                <%= link_to "マイページ", company_company_path(current_company), class: 'nav-link' %>
              </li>
              <li class="d-flex justify-content-end nav-item mr-5 font-weight-bold">
                <%= link_to "ユーザー", company_users_path, class: 'nav-link' %>
              </li>
              <li class="d-flex justify-content-end nav-item mr-5 font-weight-bold">
                <%= link_to "PF", company_portfolios_path, class: 'nav-link' %>
              </li>
              <li class="d-flex justify-content-end nav-item mr-5 font-weight-bold">
                <%= link_to "ログアウト", destroy_company_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="d-flex justify-content-end nav-item mr-5 font-weight-bold">
                <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
              </li>
              <li class="d-flex justify-content-end nav-item mr-5 font-weight-bold">
                <%= link_to "アバウト", about_path, class: 'nav-link' %>
              </li>
              <li class="d-flex justify-content-end nav-item mr-5 font-weight-bold">
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
              </li>
              <li class="d-flex justify-content-end nav-item mr-5 font-weight-bold">
                <%= link_to "サインイン", new_user_session_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
          <% if user_signed_in? %>
            <%= form_with(url: search_portfolios_path, local: true, method: :get, class: "search-form") do |f| %>
              <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
              <%= f.submit "検索", class: "btn btn-success" %>
            <% end %>
          <% elsif company_signed_in? %>
            <%= form_with(url: company_search_path, local: true, method: :get, class: "search-form") do |f| %>
              <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
              <%= f.select 'search[model]', options_for_select({ "user" => "user", "PF" => "portfolio" }) %>
              <%= f.submit :"検索", class: "btn btn-success" %>
            <% end %>
          <% end %>
      </nav>
    </header>
    <main>
      <div class="col-lg-10 mx-auto">
      <% if flash[:notice] %>
        <div class="alert alert-info">
        <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger">
        <%= flash[:alert] %>
        </div>
      <% end %>
      </div>
      <%= yield %>
    </main>

    <% if user_signed_in? %>
    <div>
      <div class="fixed-bottom mb-4 mr-3 d-flex justify-content-end">
      <%= link_to '', new_portfolio_path, class: "fas fa-plus-circle fa-3x" %>
      </div>
    </div>
    <% end %>

    <footer class="fixed-bottom">
      <div class="d-flex align-items-center justify-content-center">
        <p class="mb-0">DMM webcamp</p>
      </div>
    </footer>
  </body>
</html>
