<div class="container">
  <div class="row mt-3 mb-3">
    <div class="col-lg-10 mx-auto">
      <h2>新規ユーザー登録</h2>
        <div class="errors-customer">
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h3><%= pluralize(@user.errors.count, "個のエラーがあります") %></h3>
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>

        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
          <table class="table table-borderless col-md-6 mx-auto">
            <tr>
              <th style="width: 30%"><%= f.label '名前' %></th>
              <td><%= f.text_field :name, autofocus: true, placeholder: "山田太郎", class: "form-control-sm col-12" %></td>
            </tr>
            <tr>
              <th><%= f.label 'フリガナ' %></th>
              <td><%= f.text_field :kana_name, placeholder: "ヤマダタロウ", class: "form-control-sm col-12" %></td>
            </tr>
            <tr>
              <th><%= f.label 'メール' %></th>
              <td><%= f.email_field :email, placeholder: "sample@example.com", class: "form-control-sm col-12" %></td>
            </tr>
            <tr>
              <th><%= f.label 'パスワード' %></br>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %>文字以上)</em>
                <% end %>
              </th>
              <td><%= f.password_field :password, placeholder: "パスワード", autocomplete: "new-password", class: "form-control-sm col-12" %></td>
            </tr>
            <tr>
              <th><%= f.label '確認用パスワード' %></th>
              <td><%= f.password_field :password_confirmation, placeholder: "確認用パスワード", autocomplete: "new-password", class: "form-control-sm col-12" %></td>
            </tr>
          </table>
          <div class="actions text-center">
            <%= f.submit "新規登録", class: "btn btn-success col-4 mt-2" %>
          </div>
        <% end %>

      <div class="my-3">
        <h4 class="mb-3">既に登録済みの方</h4>
        <%= link_to "こちら", new_user_session_path %> からログインしてください。
      </div>
    </div>
  </div>
</div>